body {
    font-size : 20px;
    background-image: url('/ressources/fond_fleurs.png');
    background-size: cover;
    background-color: rgba(215, 200, 188, 0.5);
}

#non_connecte, #non_inscrit, #non_ajoute, #inscrit, #ajoute {
    background-color: rgba(215, 200, 188, 0.856);
    top : 50%;
    position : absolute;
    left : 50%;
    transform: translate(-50%, -50%);
    width : 400px;
    padding: 100px;
    padding-top : 50px;
}

h1 {
    text-align: center;
}

input, select, #send, #retour {
    border-radius : 12px;
    position : absolute;
    width : 200px;
    right: 15%;
    font-size: 16px;
}

#send {
    width : 170px;
}

label, #reset {
    position : absolute;
    left: 15%;
    width : 300px;
}

#reset {
    width : 150px;
}

#div {
    position : absolute;
    right : 14%;
}

#inscrit, p, #email_existe, #ajoute {
    display: none;
}

#amdp {
    font-size: 15px;
    right : 23%;
}

p, #email_existe {
    text-align: center;
    color : red;
}

#reset, #send, #retour {
    border-radius : 12px;
    background-color: #2e8b57;
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    font-size: 16px;
    margin: 4px 2px;
    opacity: 0.6;
    transition: 0.3s;
    display: inline-block;
    text-decoration: none;
    cursor: pointer;
}

#send:hover:not([disabled]) , #reset:hover {
    opacity : 1;
}

#send[disabled] {
    background-color: rgb(195, 46, 46);
    cursor: not-allowed;
}
