header{
    position : relative;
    background-color: rgba(215, 200, 188, 0.5);
}

#connectee{
    background-image: url('/ressources/fond_fleurs.png');
    background-color: rgba(215, 200, 188, 0.5);
    height : 100%;
    width : 100%;
}

label, #results {
    background-color: rgba(215, 200, 188, 0.9);
    font-size : 25px;
}

.presentoire{
    height:370px;
    background-color: rgba(215, 200, 188, 0.9);
    overflow: visible;
    border-radius: 10px;
    overflow-x: auto;
    overflow-y : hidden;
}

#image{
    border-radius: 10px;
    position: absolute;
    width: 100%;
    height: 55%;
    top:0%;
    left: 50%;
    transform: translate(-50%, 0%);
}
#img{
    height: 100%;
    width: auto;
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0%);
}

#description{
    position: absolute;
    width: 100%;
    height: 45%;
    bottom:0%;
    margin-top : 30px;
    left: 50%;
    transform: translate(-50%, 0%);
}

.produit{
    background-color: rgb(230, 238, 219);
    height : auto;
    display: block;
    position: relative;
    top:50%;
    transform: translate(0%, -50%);
    margin-left: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 10px;
}

input, .bouton {
    border-radius : 12px;
    position : relative;
}

.bouton, .supprimer {
    background-color: #2e8b57;
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    margin: 4px 2px;
    opacity: 0.8;
    transition: 0.3s;
    display: inline-block;
    text-decoration: none;
    cursor: pointer;
}

button:hover {
    opacity : 1;
}

.supprimer {
    border-radius : 12px;
    font-size : 16px;
    opacity : 0.6;
    padding: 10px 10px;
    background-color: rgb(213, 40, 40);
}

.number-input {
  display: flex;
  align-items: center;
}

.quantity {
  width: 100px;
  height: 30px;
  text-align: center;
}

.minus-btn, .plus-btn {
  width: 30px;
  height: 30px;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.minus-btn {
  color: red;
}

.plus-btn {
  color: green;
}

#mail {
    position : relative;
    font-size : 18px;
    text-align: center;
    max-width : 90%;
    word-wrap: break-word;
}