header {
    position : relative;
}

body{
    background-image: url('/ressources/fond_fleurs.png');
    background-size: cover;
    background-color: rgba(215, 200, 188, 0.5);
    overflow-x: hidden;
}

#fond{
    width: auto;
}

.presentoir-conteneur{
    height: 405px;
    margin-left: 0%;
    position: absolute;
}

#anniversaire_cadeaux {
    display : none;
    top : 350px;
}

#recommandations{
    top: 350px;
}

#populaires{
    top:820px;
}

#plantes{
    top: 1280px;
}

#bouquets{
    top: 1740px;
}

#pots{
    top : 2160px;
}


.presentoire{
    height:370px;
    background-color: rgba(215, 200, 188, 0.9);
    position : absolute;
    border-radius: 10px;
    overflow-x: auto;
    overflow-y : hidden;
    left: 50%;
    margin-left: 0%;
    bottom:0%;
    transform: translate(-50%,0%);
}

.titre{
    position: absolute;
    background-color: rgba(182, 160, 142, 0.9);
    top:0px;
    color : white;
}

.produit{
    background-color: rgb(207, 227, 176);
    border : solid rgb(101, 140, 82) 2px;
    height : auto;
    display: block;
    position: relative;
    top:50%;
    transform: translate(0%, -50%);
    margin-right: 5px;
    margin-left: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 10px;
}

#image{
    border-radius: 10px;
    position: absolute;
    background-color : rgb(230, 227, 217);
    width: 100%;
    height: 55%;
    top:0%;
    left: 50%;
    transform: translate(-50%, 0%);
}
#img{
    max-width: 100%;
    height: 100%;
    width: auto;
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0%);
}


#description{
    position: absolute;
    width: 100%;
    height: 45%;
    bottom:0%;
    left: 50%;
    transform: translate(-50%, 0%);
}


#nom{
    margin-left: 5px;
    position: absolute;
    left: 0%;
    font-size : 20px;
}

#prix{
    font-size : 25px;
    margin-left: 4px;
    position: absolute;
    left: 0%;
    right: auto;
    top: 15px;
    font-weight: bold;
}

.choix{
    position: absolute;
    bottom: 0%;
}

#choix *{
    position: relative;
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 5px;
}

@media (min-width: 768px) { 
    #prix {
        margin-right: 5px;
        position: absolute;
        right: 0%;
        left: auto;
        top: auto;
    }
}

#deconnexion, #ajouter {
    background-color: #2e8b57;
    border-radius : 12px;
    border: none;
    color: white;
    padding: 10px 10px;
    text-align: center;
    font-size: 15px;
    margin: 4px 2px;
    opacity: 0.6;
    transition: 0.3s;
    display: inline-block;
    text-decoration: none;
    cursor: pointer;
}

#deconnexion {
    font-size : 25px;
}

select {
    border-radius: 12px;
}

#panier {
    background-image : url('/ressources/panier.png');
    background-size : cover;
    background-color : rgb(207, 227, 176);
    border-radius : 16px;
    width : 60px;
    height : 60px;
    border : none;
    outline : none;
    bottom : 10px;
    right : 20px;
    position : absolute;
}

#deconnexion:hover, #ajouter:hover {
    opacity : 1;
}

#nb_points {
    background-color : rgb(207, 227, 176);
    border : solid 2px #1e5c2a;
    border-radius : 16px; 
    padding: 10px 10px;
    color : #1e5c2a;
    position : absolute;
    right : 120px;
    bottom : 10px;
    font-size : 24px;
}

#anniversaire {
    top : 50px;
    display : none;
    font-size : 30px;
    position: relative;
    width : 100%;
    overflow : hidden;
    background-color: rgba(215, 200, 188, 0.5);
    border: solid 4px rgb(157, 100, 47);
}

#text_anniv {
    left : 100%;
    white-space : nowrap;
    position : relative;
}