<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/shopping/shopping.css">
    <link rel="icon" href="/ressources/favicon.ico" type="image/x-icon">
    <script src="https://code.jquery.com/jquery-3.6.0.js" type="text/javascript"></script>
    <script src="https://cdn.jsdelivr.net/npm/js-confetti@latest/dist/js-confetti.browser.js"></script>
    <script src="/shopping/shopping.js"></script> 
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Loyalty Garden</title>
</head>

<header>
    <img class="col-12" id="fond_header" src="/ressources/header.png" alt="image">
    <button id="deconnexion">Déconnexion</button>
    <div id="nb_points">Vos points : <%= points %></div>
    <button id="panier"></button>
</header>

<body>

    <div id="anniversaire"></div>
    <div id="fond" class="container-fluid">

        <div id="anniversaire_cadeaux" class="presentoir-conteneur col-12">
            
            <h3 id="titre-reco" class="titre">Vos cadeaux d'anniversaire :</h3>
            <div  class="row flex-nowrap col-12 border presentoire">
                <% anniversaire.forEach(anniv => { %>
                    <div class="col-6 col-sm-5 col-md-4 col-lg-3 produit h-80">
                        <div id="image">
                            <img id="img" src="<%= anniv.photo %>" alt="image">
                        </div>
                        <div id="description">
                            <div id="nom"><%= anniv.nom %></div>
                            <div id="prix"><%= anniv.prix %></div>
                            <form class="choix" >
                                <input type="hidden" name="id" value="<%= anniv.id%>">
                                <input type="hidden" name="categorie" value="<%=anniv.categorie%>">
                                <% if( restant >= anniv.prix){%>
                                    <input id="ajouter" type="submit" value="Ajouter au Panier">
                                <%}%>
                            </form>
                        </div>
                    </div>
                <% }); %>
            </div>
        </div>
        
        <div id="plantes" class="presentoir-conteneur col-12">
            
            <h3 id="titre-plante" class="titre">Nos plantes :</h3>
            <div  class="row flex-nowrap col-12 border presentoire">
                <% plantes.forEach(plante => { %>
                    <div class="col-6 col-sm-5 col-md-4 col-lg-3 produit h-80">
                        <div id="image">
                            <img id="img" src="<%= plante.photo %>" alt="image">
                        </div>
                        <div id="description">
                            <div id="nom"><%= plante.nom %></div>
                            <div id="prix"><%= plante.prix %></div>
                            <form class="choix">
                                <input type="hidden" name="id" value="<%= plante.id%>">
                                <input type="hidden" name="categorie" value="<%=plante.categorie%>">
                                <label for="pot">Pot :</label>
                                <select id="pot" name="choix-pot">
                                    <option value="rond">rond</option>
                                    <option value="carré">carré</option>
                                </select><br>
                                <label for="couleur">Couleur :</label>
                                <select id="couleur" name="choix-couleur">
                                    <option value="vert">vert</option>
                                    <option value="marron">marron</option>
                                    <option value="gris">gris</option>
                                    <option value="noir">noir</option>
                                    <option value="bordeaux">bordeaux</option>
                                    <option value="terre-cuite">terre-cuite</option>
                                </select><br>
                                <% if( restant >= plante.prix){%>
                                    <input id="ajouter" type="submit" value="Ajouter au Panier">
                                <%}%>
                            </form>
                        </div>
                    </div>
                <% }); %>
            </div>
        </div>
        

            <div id="pots" class="presentoir-conteneur col-12">
                <h3 id="titre-pot" class="titre">Nos pots :</h3> 
                <div class="row flex-nowrap col-12 border presentoire">
                    <% pots.forEach(pot => { %>
                        <div class="col-6 col-sm-5 col-md-4 col-lg-3 produit h-80">
                            <div id="image">
                                <img id="img" src="<%= pot.photo %>" alt="image">
                            </div>
                            <div id="description">
                                <div id="nom"><%= pot.nom %></div>
                                <div id="prix"><%= pot.prix %></div>
                                <form class="choix">
                                    <input type="hidden" name="id" value="<%= pot.id%>">
                                    <input type="hidden" name="categorie" value="<%=pot.categorie%>">
                                    <label for="couleur">Couleur :</label>
                                    <select id="couleur" name="choix-couleur">
                                        <option value="vert">vert</option>
                                        <option value="marron">marron</option>
                                        <option value="gris">gris</option>
                                        <option value="noir">noir</option>
                                        <option value="bordeaux">bordeaux</option>
                                        <option value="terre-cuite">terre-cuite</option>
                                    </select><br>
                                    <% if( restant >= pot.prix){%>
                                        <input id="ajouter" type="submit" value="Ajouter au Panier">
                                    <%}%>
                                </form>
                            </div>
                        </div>
                    <% }); %>
                </div>
            </div>
            

            <div id="populaires" class="presentoir-conteneur col-12">
                <h3 id="titre-populaire" class="titre">Nos clients aiment :</h3>
                <div  class="row flex-nowrap col-12 border presentoire">
                    <% populaires.forEach(populaire => { %>
                        <div class="col-6 col-sm-5 col-md-4 col-lg-3 produit h-80">
                            <div id="image">
                                <img id="img" src="<%= populaire.photo %>" alt="image">
                            </div>
                            <div id="description">
                                <div id="nom"><%= populaire.nom %></div>
                                <div id="prix"><%= populaire.prix %></div>
                                <form class="choix" >
                                    <input type="hidden" name="id" value="<%=populaire.id%>">
                                    <input type="hidden" name="categorie" value="<%=populaire.categorie%>">

                                    <% if(populaire.categorie=='plante'){%>
                                        <label for="pot">Pot :</label>
                                        <select id="pot" name="choix-pot">
                                            <option value="rond">rond</option>
                                            <option value="carré">carré</option>
                                        </select><br>
                                        <label for="couleur">Couleur :</label>
                                        <select id="couleur" name="choix-couleur">
                                            <option value="vert">vert</option>
                                            <option value="marron">marron</option>
                                            <option value="gris">gris</option>
                                            <option value="noir">noir</option>
                                            <option value="bordeaux">bordeaux</option>
                                            <option value="terre-cuite">terre-cuite</option>
                                        </select><br>
                                    <% } else if(populaire.categorie=='pot') {%>
                                        <label for="couleur">Couleur :</label>
                                        <select id="couleur" name="choix-couleur">
                                            <option value="vert">vert</option>
                                            <option value="marron">marron</option>
                                            <option value="gris">gris</option>
                                            <option value="noir">noir</option>
                                            <option value="bordeaux">bordeaux</option>
                                            <option value="terre-cuite">terre-cuite</option>
                                        </select><br>
                                    <% } %>
                                    <% if( restant >= populaire.prix){%>
                                        <input id="ajouter" type="submit" value="Ajouter au Panier">
                                    <%}%>
                                </form>
                            </div>
                        </div>
                    <% }); %>
                </div>
            </div>
            

            <div id="bouquets" class="presentoir-conteneur col-12">
                <h3 id="titre-bouquet" class="titre">Nos bouquets :</h3>
                <div  class="row flex-nowrap col-12 border presentoire">
                    <% bouquets.forEach(bouquet => { %>
                        <div class="col-6 col-sm-5 col-md-4 col-lg-3 produit h-80">
                            <div id="image">
                                <img id="img" src="<%= bouquet.photo %>" alt="image">
                            </div>
                            <div id="description">
                                <div id="nom"><%= bouquet.nom %></div>
                                <div id="prix"><%= bouquet.prix %></div>
                                <form class="choix" >
                                    <input type="hidden" name="id" value="<%= bouquet.id%>">
                                    <input type="hidden" name="categorie" value="<%=bouquet.categorie%>">
                                    <% if( restant >= bouquet.prix){%>
                                        <input id="ajouter" type="submit" value="Ajouter au Panier">
                                    <%}%>
                                </form>
                            </div>
                        </div>
                    <% }); %>
                </div>
            </div>

            <div id="recommandations" class="presentoir-conteneur col-12">
            
                <h3 id="titre-reco" class="titre">Pour vous :</h3>
                <div  class="row flex-nowrap col-12 border presentoire">
                    <% recommandations.forEach(reco => { %>
                        <div class="col-6 col-sm-5 col-md-4 col-lg-3 produit h-80">
                            <div id="image">
                                <img id="img" src="<%= reco.photo %>" alt="image">
                            </div>
                            <div id="description">
                                <div id="nom"><%= reco.nom %></div>
                                <div id="prix"><%= reco.prix %></div>
                                <form class="choix" >
                                    <input type="hidden" name="id" value="<%= reco.id%>">
                                    <input type="hidden" name="categorie" value="<%=reco.categorie%>">
                                    
                                    <% if(reco.categorie=='plante'){%>
                                        <label for="pot">Pot :</label>
                                        <select id="pot" name="choix-pot">
                                            <option value="rond">rond</option>
                                            <option value="carré">carré</option>
                                        </select><br>
                                        <label for="couleur">Couleur :</label>
                                        <select id="couleur" name="choix-couleur">
                                            <option value="vert">vert</option>
                                            <option value="marron">marron</option>
                                            <option value="gris">gris</option>
                                            <option value="noir">noir</option>
                                            <option value="bordeaux">bordeaux</option>
                                            <option value="terre-cuite">terre-cuite</option>
                                        </select><br>
                                    <% } else if(reco.categorie=='pot') {%>
                                        <label for="couleur">Couleur :</label>
                                        <select id="couleur" name="choix-couleur">
                                            <option value="vert">vert</option>
                                            <option value="marron">marron</option>
                                            <option value="gris">gris</option>
                                            <option value="noir">noir</option>
                                            <option value="bordeaux">bordeaux</option>
                                            <option value="terre-cuite">terre-cuite</option>
                                        </select><br>
                                    <% } %>
                                    <% if( restant >= reco.prix){%>
                                        <input id="ajouter" type="submit" value="Ajouter au Panier">
                                    <%}%>
                                </form>
                            </div>
                        </div>
                    <% }); %>
                </div>
            </div>

    </div>
    
    
</body>
</html>