header{
    position : relative;
    margin-bottom : 150px;
}

body {
    background-color: rgba(215, 200, 188, 0.5);
    background-image: url('/ressources/fond_fleurs.png');
    overflow-x: hidden;
}

.produit-panier{
    background-color: rgb(207, 227, 176);
    height: 170px;
    position:relative;
    border-radius: 10px;
    margin-bottom: 10px;
    border-color: rgb(44, 134, 44);
    border-width: 3px;
    border-style: solid;
}

.image-conteneur{
    position: absolute;
    left:0%;
    top: 50%;
    transform: translate(0%,-50%);
    height: 90%;
    margin-left: 3px;
    border-right: 2px dashed;
    border-color: rgb(44, 134, 44);
}

.image{
    position: absolute;
    left: 0%;
    height: 100%;
    width: auto;
    border-radius: 10px;
}

.info{
    position: absolute;
    right: 0%;
    top: 50%;
    transform: translate(0%,-50%);
    height: 90%;
}

.supprimer{
    position: absolute;
    right: 5px;
    bottom: 0px;
    background-color: red;
}

.prix{
    font-size: larger;
    position: absolute;
    right: auto;
    left:10px;
    top:20px;
    margin-left: 10px;
}
@media (min-width: 768px) { 
    .prix {
        top:0px;
        right: 10px;
        left: auto;
    }
}

.nom{
    left: 10px;
    margin-left: 10px;
    font-size: larger;
    position: absolute;
}

.couleur{
    bottom:0px;
    left: 10px;
    margin-left: 10px;
    font-size: larger;
    position: absolute;
}

.validation{
    background-color: rgba(215, 200, 188, 0.9);
    position: relative;
    height: 100px;
    border-top: 3px solid;
    margin-top: 10px;
}

.valider{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(0,-50%);
    height: auto;
    background-color: #2e8b57;
}

#total-conteneur{
    position: absolute;
    right: 50%;
    top: 50%;
    transform: translate(0,-50%);
    border-right: dotted;
    margin-right: 10px;
    height: 100%;
}

#total{
    font-weight : bold;
    font-size : 20px;
    position: absolute;
    top: 50%;
    transform: translate(0,-50%);
    width : 100%;
    text-align: center;
}

#validation-impossible, #validation-ok{
    position: relative;
    width: 100%;
    text-align: center;
    height: 50px;
    font-size: 25px;
    color: red;
    display: none;
}

.valider, .supprimer, #deconnexion, #retour {
    border-radius : 12px;
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    font-size: 20px;
    margin: 4px 2px;
    opacity: 0.6;
    transition: 0.3s;
    display: inline-block;
    text-decoration: none;
    cursor: pointer;
}

#deconnexion, #retour {
    background-color : #2e8b57;
}

button:hover, #deconnexion:hover, #retour:hover {
    opacity : 1;
}

#nb_points {
    background-color : rgb(207, 227, 176);
    border : solid 2px #1e5c2a;
    border-radius : 16px; 
    padding: 10px 10px;
    color : #1e5c2a;
    position : absolute;
    right : 20px;
    bottom : 10px;
    font-size : 24px;
}