<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/panier/panier.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/ressources/favicon.ico" type="image/x-icon">
    <script src="https://code.jquery.com/jquery-3.6.0.js" type="text/javascript"></script>
    <script src="/panier/panier.js"></script> 
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <title>Mon panier</title>
</head>
<header>
    <img class="col-12" id="fond_header" src="/ressources/header.png" alt="image">
    <button id="retour">Shopping</button>
    <div id="nb_points">Vos points : <%= points %></div>
</header>

<body>
    <div class="container">
        <% panier.forEach(produit => { %>
        <div class="col-12 produit-panier row">
            <div class="image-conteneur col-5 col-sm-4 col-lg-2">
                <img class="image" src="<%=produit.photo%>" alt="image">
            </div>
            <div class="info col-lg-10  col-sm-8 col-7">
                <div class="nom"><%=produit.nom%></div>
                <div class="prix"><%=produit.prix%> x <%=produit.quantite%> = <%=produit.prix * produit.quantite%>pts</div>
                <% if(produit.categorie=='pot'){%>
                    <div class="couleur"><%=produit.couleur%></div>
                <%}%>
                <form>
                    <input type="hidden" value="<%=produit.id%>" id="id_produit">
                    <input type="hidden" value="<%=produit.categorie%>" id="cat_produit">
                    <% if(produit.categorie=='pot'){%>
                    <input type="hidden" value="<%=produit.couleur%>" id="couleur_produit">
                    <%}%>
                </form>
                <button class="supprimer">Supprimer</button>
            </div>
        </div>
    <% }); %>

        <div id="validation-impossible"> Vous n'avez pas assez de points pour valider ce panier</div>

        <div class="validation col-12 row">
            <div id="total-conteneur" class="col-lg-3 col-md-4 col-sm-5 col-6"><p id="total">TOTAL : <%=total%>pts</p></div>
            <button class="valider col-lg-2 col-md-3 col-sm-4 col-5">Valider</button>
        </div>
        
    </div>
</body>
</html>