body {
    background-color: rgba(215, 200, 188, 0.856);
    margin : 0;
    padding : 0;
    height : 100%;
}

#non_connecte {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

#formulaire {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#connecte {
    display : none;
}

#connexion, #connexion_g {
    border-radius : 12px;
    background-color: #2e8b57;
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    font-size: 16px;
    margin: 4px 2px;
    opacity: 0.6;
    transition: 0.3s;
    display: inline-block;
    text-decoration: none;
    cursor: pointer;
}

#connexion:hover, #connexion_g:hover {
    opacity : 1;
}